.arriba{
    border-radius: 4%;
    display: grid;
    display: flex;
    gap: 2rem;
    padding: 2%;
}
.abajo{
    display: flex;
    gap: 2rem;
    padding: 2%;  
}

.tercera{
    display: flex;
    gap: 2rem;
    padding: 2%;
}
